@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #404759;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.footer-nav{
    display: flex;
}
.logo-footer{
    width: 150px;
    margin-bottom: 3.5%;
    margin-top: 3.5%;
    margin-left: 5%;
}
/*whole row*/
.row{
    display: inline-block;
    height: 150px;
    margin-left: auto;
    margin-right: 22%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}
/*footer navbar*/
.row-1 {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row-1 a{
    text-decoration: none;
    color: white;
    margin-left: 6%;
    
}
.row-1 a:hover{
    color:#A5F297;
}
.footer-icon{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-icon a{
    color: white;
    margin-left: 5%;
}
.footer-icon a:hover{
    color:#A5F297;
}
/*footer navbar t&c + privacy policy*/
.row-2 {
    text-align: center;
    margin-top: 40px;
}
.row-2 a{
    text-decoration: none;
    color: white;
    margin-left: 5%;
}
.row-2 a:hover{
    color:#A5F297;
}
/*Copyright footer*/
.copyright{
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0.2%;;
    font-size: 15px;;
    position: sticky;
}
