@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


/* START HOMEPIC */

#home img {
    width: 100%;
    height: 40vh;
  }

/* End Homepic */

/* START ABOUT */
#par{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
/* END ABOUT */

/* START MAPS AND ADDRESS */
.flex-wrapper {
    display: flex;
}
.left-column {
    padding-left: 20%;
    padding-right: 5%;
}
.right-column {
    padding-top: 5%;
    padding-right: 10%;
}

#h6{
    text-align: center;
}
/* END MAPS AND ADDRESS */

