@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
    body{
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      #D9D9D9 50%,
      #D9D9D9 100%
    );
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .logo{
    width: 7%;
    margin-left: 2%;
  }
  .container1{
    display: flex;
    font-family: 'Montserrat Alternates';
    gap: 1%;
  }
  .header {
    font-family: 'Montserrat Alternates';
    font-size: 28px;
    margin-left: 4.5%
  }
  .return{
    margin-top: 10%;
    margin-left: 1%;
    margin-bottom: 3%
  }
  .return a{
    text-decoration: none;
    color: #1e1e1e;
  }
  .return a:hover{
    color: #5876CE;
  }
  .policies{
    font-family: 'Roboto';
    display: flex;
    gap: 2%;
    margin-left: 1%;
  }
  .policies p:hover{
    text-decoration: underline;
  }
  .left{
      width: 50%;
    }
  .right{
    width: 50%;
    margin-left: 2%;
  }
  .total{
    text-align: right;
    margin-top: 4%;
  }
  .continue{
    margin-left: 72%;    
  }
  .continue a{
    text-decoration: none;
    color: white;
  }
  .continue button{
    background-color: #5876CE;
    color: white; 
    font-family: 'Montserrat Alternates';
    border: none;
  }
  .continue button:hover{
    background-color: #404759;
    color: #A5F297;
  }