
/* START CONTACT */
h1{
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
input[type=text], textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px grey;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #3e8e41;
}

/* END CONTACT */