


.back1{
    height: 110vh;
}

.card1{
    
    background-color: #1E1E1E;
    position: absolute;
    align-items: left;
     width: 643px;
     height: 743px; 
 
    border-radius: 5%; 
    left: 641px;
    top: 160px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}


