@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500&family=Roboto:wght@300&display=swap');


/* 
@media only screen and (max-width: 1280px) {
  .variant-1 {
    width: 3rem;
    float: right;
  }
}


@media only screen and (min-width: 600px) {
  .variant-1 {
    width: 25rem;
    float: right;
  }

  .grid-container {
    margin: 10% 2%;
  }
} */
.center-container{
    padding-top: 10%;
    padding-bottom: 10%;
}

.variant-1 {
    width: 25rem;
    margin-left: 20%;
    margin-right: 20%;
  }
  
.grid-container {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid-container>div {
  /* background-color: rgba(216, 78, 78, 0.8); */
  padding: 2px 0;
  height: 100%;
  
}




/* 
*
* LEFT COLUMN
*
*/

/* PRODUCT NAME */
h3 {
  margin-top: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
}

/* PRICE */
h2 {
  margin-top: -2%;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-style: normal;
}

/* BUTTON */
.btn {
  background-color: #5876CE;
  border: none;
  color: white;
  padding: 0.8rem 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.8rem;
  font-weight: 900;

}

/* DESCRIPTION */
.description {
  width: 35vw;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
}

/* SIZE AND COLOR */


.size-and-color {
  margin-bottom: 2vh;
  display: flex;
  gap: 1vw;
}

.size-color-labels {
  display: flex;
  gap: 1vw;
}


.size-select,
.color-select,
.quantity-field {
  font-family: 'Roboto', sans-serif;
  padding: 0.4rem;
  width: 7vw;
}

.label-size,
.label-color,
.label-quantity {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: rgb(126, 126, 126);
  width: 7vw;
}

/* QUANTITY */
.quantity-container {
  display: flex;
}

#down,
#up {
  width: 0.1rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  margin-left: -1.5vw;
  padding: 0;
  display: block;
}

.quantity-field {
  font-family: 'Roboto', sans-serif;
  padding: 0.4rem;
  width: 4vw;
  vertical-align: top;
}